<form action="addPost.php" method="post" class="mb-2 row align-items-center">
    <div>
        <input type="text"
               name="title"
               id="newTask"
               placeholder="Заголовок"
               class="form-control">
    </div>
    <div style="margin-top: 10px;">
        <textarea type="text"
                  name="content"
                  id="newDeadline"
                  placeholder="Контент"
                  style="height: 200px"
                  class="form-control"></textarea>
    </div>
    <div style="margin-top: 10px">
        <button type="submit"
                style="color: blue"
                class="btn">
            Создать
        </button>
    </div>
</form>